#questionid{
    /* font-size:2vw; */
    text-align: center;
}
#comments{
  text-align: center;
  height: 10vh;
  /* font-size: 1.5vw; */
}
#linkedlist{
    width: 100%;
}
#buttondiv{
    text-align: center;
}
